[submodule ".registry"]
	path = .registry
	url = https://github.com/lapkb/lapkb.r-universe.dev
	branch = HEAD
[submodule "Pmetrics"]
	path = Pmetrics
	url = https://github.com/LAPKB/pmetrics_rust
	branch = v.3.0.0
