[submodule ".registry"]
	path = .registry
	url = https://github.com/lapkb/lapkb.r-universe.dev
	branch = HEAD
[submodule "Pmetrics"]
	path = Pmetrics
	url = https://github.com/LAPKB/Pmetrics
	branch = v3.1.3
[submodule "PmetricsLitSim"]
	path = PmetricsLitSim
	url = https://github.com/LAPKB/PmetricsLitSim
	branch = v0.0.2
[submodule "PmetricsModelLib"]
	path = PmetricsModelLib
	url = https://github.com/LAPKB/PmetricsModelLib
	branch = v0.0.2
[submodule "PmetricsPlot"]
	path = PmetricsPlot
	url = https://github.com/LAPKB/PmetricsPlot
	branch = v0.0.2
